*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(img/img1.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    margin: 0 13%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo{
    width: 100px;
    height: 50px;
    margin-top: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}
nav ul li a:hover{
    color: #9ed9fc;
   
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff004f;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
    position: absolute;
}

nav ul li a:hover::after{
    width: 100%; 
}


.header-text{
   
    margin-top: 20%;
    position: relative;
}
.header-text h1{
    font-size: 50px;
    width: 200;
    color: white;
}
.header-text p{
    margin-top: 30px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.726);
    line-height: 1.6;
   letter-spacing: 4px;
    
}
.header-text .btn{
    margin-top: 30px;
    position: absolute;
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    border: 1.5px solid #3e9cd7;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.5s;

}
.header-text .btn:hover{
    background: #3e9cd7;
    transform: translatey(-5px);
}


.header-text .btn:active{
    background: #3e9cd7;
    color: rgba(255, 255, 255, 0.438);
}

.social-icon{
    color: white;
    margin-top: 20%;

}

.social-icon a{
    text-decoration:none;
    font-size: 20px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icon a:hover{
    cursor: pointer;
    color: #3e9cd7;
    transform: translateY(-5px);
}


/*-----------AboutUS-----*/
#about{
   
    padding: 80px 0;
    color:#ababab ;
}

.row{
    display: flex;
    justify-content: space-between;
   
}

.about-col-1{
    flex-basis: 45%;
    position: relative;
}
.about-col-1 h3{
    letter-spacing: 3px;
    color: #b6b6b6;
    font-size: 16px;
}
.about-col-1 h1{
    font-size: 35px;
    color: #1b1b1b;
    margin-top: 20px;

}
.about-col-1 h1 span{
    font-weight: 130;
}

.about-col-1 p{
    margin-top: 40px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.about-col-1 a{
    position: absolute;
    margin-top: 20px;

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 2px solid #3e9cd7;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.5s;

}

.about-col-1 a:hover{
    background: #3e9cd7;
    transform: translatey(-5px);
}


.about-col-1 a:active{
    background: #3e9cd7;
    color: rgba(255, 255, 255, 0.438);
}

.about-col-2{
    flex-basis: 40%;

}

.about-col-2 img{
   width: 100%;
   border-radius: 10px;
}

/*-------services----*/

#services{
   width: 100%;
   margin-top: 50px;
}

 .title{
    color: #ababab;
    font-weight: 150;
}
 .title2{
    color:rgb(14, 13, 13) ;
    margin-top: 16px;
}

.title2 span{
    font-weight: 130;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 50px;
    margin-top: 50px;
   
}

.services-list div{
    background: #f7f7f7cb;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 5px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    color: rgba(255, 197, 121, 0.904);
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div p{
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    color: rgba(119, 119, 119, 0.667);

}

.services-list div:hover{
    background: #d1d1d1cb;
    transform: translateY(-10px);
    cursor: pointer;
}

/*-------section 1-----*/
#section{
    margin-top: 200px;
    width: 100%;
    height: 300px;
    background: #111111;
}

#section div{
    float: left;
    width: 20%;
    margin: 0 auto;
    position: relative;
    top: 130px;
    left: 150px;
   
}
#section h1{
    font-size: 35px;
    font-weight: 100;
    line-height: 0;
}
#section h1, .p{
    text-align: center;
    color: white;
}
#section p{
    margin-top: 40px;
}

/*-----------section 2 ----------*/

#section-2{
    margin: 90px 0;
   
}
.rows{
    display: flex;
    justify-content: space-between;
   
}
.section-col-1{
    flex-basis: 50%;
}
.section-col-1 h3{
    color: #ababab;
    font-size: 18px;
    font-weight: 130;
}
.section-col-1 h1{
    margin-top: 15px;
    font-size: 30px;
    color: #111111;
}

span{
    font-weight: 100;
}
.section-col-1 p{
    margin-top: 20px;
    color: #ababab;
    line-height: 25px;
    font-size: 15px;
}
.section-col-2{
    flex-basis: 40%;
}
.section-col-2{
    display: flex;
    justify-content: space-between;
   
}
.sub-section ul li{
    list-style: none;
    margin-top: 55px;
    font-size: 13px;
    position: relative;
   
}

.li::after{
    content: "";
    width:10%;
    height: 2px;
    background: #111111;
    left: 0;
    bottom: -9px;
    position: absolute;
    transition: 0.5s;
}

.li.li-1::after{
    width: 190%;
    background: #56ba98;
}
.li.li-2::after{
    width: 165%;
    background: #56ba98;
}
.li.li-3:after{
    width: 140%;
    background: #56ba98;
}
.li.li-4::after{
    width: 130%;
    background: #56ba98;
}

/*--------section 3------*/

#section-3{
    margin: 150px 0%;
}

.images-list{
   display: grid;
   grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
   gap: 30px;

}

.imageses{
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    position: relative;
}

.imageses img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(109, 109, 109, 0.6),#9b9a9aa4);
    border-radius: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-size: 13px;
    color: antiquewhite;
    text-align: center;
    margin-top: 60%;
}
.layer h1{
    font-size: 18px;
    color:white;
    text-align: center;
    margin-top: 20px;
}
.layer a{
   font-size: 25px;
   color: white;
   padding: 8px;
}
.layer a:hover{
    color: #62bdfc;
}
.layer a i{
    margin-top: 30px;
}

.imageses:hover img{
    transform: scale(1.1);
}
.imageses:hover .layer{
    height: 100%;
}

/*----------section-4 PLANS--------*/

#section-4{
    margin: 0px 13%;
}
.text h3{
    color: #ababab;
    font-weight: 120;
}
.card{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.card-1{
    margin-left: 30px;
    margin-top: 80px;
    width: 380px;
    height: auto;
    background: white;
    box-sizing: border-box;
    box-shadow:  15px 13px 15px #cad0d6,
    -10px -10px 15px rgb(243, 243, 243);
    border-radius: 8px;
}


.card-1 h1{
    color: #474747;
    font-size: 50px;
    margin-top: 80px;
    text-align: center;
}

.card-1 p{
    font-size: 20px;
    font-weight: 150;
    text-align: center;
    margin-top: 20px;
}

.card-1 ul{
    list-style: circle;
    margin-left: 30%;
    margin-top: 60px;
    line-height: 35px;
    color: #666666;
}
.card-1 input{
    width: 50%;
    outline: none;
    background: white;
    color: rgb(57, 153, 243);
    font-size: 20px;
    padding: 6px 10px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 30px ;
    margin-bottom: 30px;
    border:1px solid #3e9cd7;
    border-radius: 5px;
    transition: transform 0.5s;
}

.card-1 input:hover{
    background: #3e9cd7;
    color: white;
    transform: translateY(-5px);
}


/*----------section-5 PORTFOLIO-------*/

#portfolio{
    width: 100%;
}

#portfolio h3{
    color: #818181;
    margin-top: 50px;
    font-weight: 130;
}
#portfolio h1{

}

.img-1 img{
    width: 100%;
    margin-top: 70px;
}
.works-list{
     margin-top: 50px;
     display: grid;
     grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
     gap: 80px;


}
.sub-work{
    overflow: hidden;
  
    box-sizing: border-box;
    box-shadow:  15px 13px 15px #cad0d6,
    -10px -10px 15px rgb(243, 243, 243);
    border-radius: 8px 8px 0 0 ;
}
.sub-work img{
    background: linear-gradient(40deg, #8490ff 40%, #62bdfc 100%);
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.sub-work:hover img{
    opacity: .5;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.work-informetion a{
    text-decoration: none;
    color: #383838;

}
.work-informetion h4{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 12px;
}
.work-informetion h4:hover{
    color:#bfa67a ;
}
.work-informetion ul{
    margin-top: 50px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    line-height: 28px;
}
.work-informetion ul li{
   list-style: none;
   color: #666666;
   font-size: 13px;
   margin: 0px 10px;
}
.work-informetion ul i{
    color: #caba5de5;
    font-size: 13px;
 }
.work-informetion p{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #818181;
    line-height: 30px;
    text-align: center;
}
.btn.btn-2{
    text-decoration: none;
   float: right;
   margin-bottom: 10px;
   color: #bfa67a;
   font-size: 13px;
}
.btn.btn-2:hover{
    color: #8490ff;
}
/*---------contact------*/
#contact{
    background: black;
    margin-top: 150px;
    color: white;
}
.contact-page{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.contact-left{
    flex-basis: 40%;
    margin-top: 60px;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #62bdfc;
    margin-right: 15px;
    font-size: 20px;
}
.social-icons {
    margin-top: 40px;
}
.social-icons a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #62bdfc;
    transform: translatey(-6px);
}
.btn.btn2{
    display: inline-block;
    padding: 15px 20px;
    border: 1.5px solid #62bdfc;
    color: white;
    margin-top: 40px;
    text-decoration: none;
    margin-bottom: 100px;
    border-radius: 5px;
    transition: transform 0.5s;
}
.btn.btn2:hover{
     background: #62bdfc;
    transform: translateY(-6px);

}

.contact-right{
    flex-basis: 55%;
    margin-top: 60px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    background: #1f1f1f;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}
form .btn2{
    float: right;
    padding: 15px 20px;
    border: 1.5px solid #62bdfc;
    background: #111111;
    color: white;
    margin-top: 40px;
    text-decoration: none;
    margin-bottom: 100px;
    border-radius: 5px;
    transition: transform 0.5s;

}